<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyARYd5-JVEqc1ouIDVY9u_MJhfnTdCKCGY</string>
	<key>GCM_SENDER_ID</key>
	<string>774900813610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toothfile</string>
	<key>PROJECT_ID</key>
	<string>toothfile-61f5e</string>
	<key>STORAGE_BUCKET</key>
	<string>toothfile-61f5e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774900813610:ios:b37cad409096765fb15853</string>
</dict>
</plist>